---
layout:     page-nosocial-rendered
image:      /media/thumb-big.jpg
---

{% assign id = page.id %}
{% assign this = site.data.authors[id] %}

<style>
    .post-title {
        display: none !important;
    }
</style>

<div class="home">

    <h1>{{ this.name }}</h1>

    <h2>Articles</h2>

    <ul>
    {% for article_key in this.articles %}
    <li>
        <p>
            <a href="/articles/{{ article_key|downcase }}.html">{{ site.data.articles[article_key].title }}</a>
        </p>
        <p>
            {% assign author_list = site.data.articles[article_key].author | split: " and " %}
            {% for author in author_list %}
                {{ author }}
            {% endfor %}.
        </p>
        
    </li>
    {% endfor %}
    </ul>

</div>
