---
layout:     page-nosocial-rendered
image:      /media/thumb-big.jpg
---

<div class="home">

    <div style="margin-bottom: 1em;">
        {{ page.fullname }}
    </div>

    <h2>Articles</h2>

    <ul>
    {% for article_key in page.article_list %}
        <li>
            <a href="/articles/{{ article_key|downcase }}.html">[view]</a>
            {% for author in page.articles[article_key].author_list %}
                <a href="/authors/{{ author[1] }}.html">{{ author[0] }}</a>
            {% endfor %}
            .
            ({{ page.articles[article_key].year }}).
            {{ page.articles[article_key].title }}
        </li>
    {% endfor %}
    </ul>

</div>
