---
layout:     page-nosocial-rendered
image:      /media/thumb-big.jpg
---

<style>
    .var {
        display: inline-block;
        width: 7em;
        font-weight: bold;
    }

    .value {
        display: inline-block;
    }
</style>

<div class="home">

    <div style="margin-bottom: 1em;">
        {{ page.abstract }}
    </div>

    <div style="margin-bottom: 1em;">
        <span class="var">keywords</span>
        <span class="value">{{ page.keywords }}</span>
    </div>

    <div style="margin-bottom: 1em;">
        <div>
            <span class="var">author</span>
            <span class="value">
                {% for author in page.author_list %}
                    <a href="/authors/{{ author[1] }}.html">👤 {{ author[0] }}</a>;
                {% endfor %}
            </span>
        </div>

        <div>
            <span class="var">journal</span>
            <span class="value">{{ page.journal }}</span>
        </div>

        <div>
            <span class="var">issn</span>
            <span class="value">{{ page.issn }}</span>
        </div>

        <div>
            <span class="var">year</span>
            <span class="value">{{ page.year }}</span>
        </div>

        <div>
            <span class="var">volume</span>
            <span class="value">{{ page.volume }}</span>
        </div>

        <div>
            <span class="var">number</span>
            <span class="value">{{ page.number }}</span>
        </div>

        <div>
            <span class="var">page</span>
            <span class="value">{{ page.pages }}</span>
        </div>

        <div>
            <span class="var">doi</span>
            <span class="value"><a href="http://dx.doi.org/{{ page.doi }}">{{ page.doi }}</a></span>
        </div>

        <div>
            <span class="var">citedbycount</span>
            <span class="value">{{ page.citedbycount }}</span>
        </div>

    </div>

    <div>
        <span class="var">download</span>
        <span class="value"><a href="../bib/{{ page.ID|downcase }}.bib">[BibTeX]</a></span>
    </div>

</div>
