---
layout:     page-nosocial-rendered
image:      /media/thumb-big.jpg
---

{% assign id = page.id %}
{% assign this = site.data.authors[id] %}

<link rel="stylesheet" href="/css/covindex.css">

<article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ this.name }}</h1>
    </header>
  
    <div class="post-content">

        <div class="home">

            <h4>Keywords</h4>
       
            <div>

                {% for keyword_key in this.keywords %}
                <a href="/topics/{{ keyword_key|downcase }}.html">
                    <span class="keyword">{{ site.data.keywords[keyword_key].term }}</span>
                </a>
                {% endfor %}

            </div>


            <h4>Articles</h4>
       
            <ul id="results">
            {% for article_key in this.articles %}
            <li>
                <a class="search-result" href="/articles/{{ article_key|downcase }}.html">{{ site.data.articles[article_key].title }}</a>
        
                <p>
                    {% assign author_list = site.data.articles[article_key].author | split: " and " %}
                    {% for author in author_list %}
                        <a href="/authors/{{author|slugify}}.html">👤 {{ author }}</a>
                    {% endfor %}.
                    ({{ site.data.articles[article_key].year }}).
                    📚 {{ site.data.articles[article_key].journal }}.
                </p>
                
            </li>
            {% endfor %}
            </ul>
        
        </div>        

    </div>
 
</article>
